<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div id="main" style="text-align:center">
    <h1>
      YoWiki
    </h1>
    YoWiki is an open-source, cross-platform mobile app that allows users to download Wikipedia articles and read them
    offline. Users can maintain a personal Wikipedia library of any size with articles and topics of their choosing. It
    comes packed with various features to facilitate learning everywhere and at every time whether there is a connection
    to the internet or not.

    <h3>Download Wikipedia Articles</h3>
    With YoWiki you can download wikipedia articles in two different ways. Either you can search for and find individual
    articles and download them, or download articles in bulk. Bulk downloads work by downloading all the results
    returned from a particular search. This means that you can maintain a personal Wikipedia library with only articles
    related to topics you are interested in.

    <h3>Random Article Picker</h3>
    There are many times when you want to learn something new, but simply do not know what topic to pick or where to
    start. YoWiki has a feature to pick a random article from your local library for you to read and learn about. This
    pushes you to read more of the articles in your local library.

    <h3>Beautiful Articles</h3>
    The articles from your local library are displayed as HTML files with the supporting common css for wikipedia
    articles. This means that your local Wikipedia articles will look and act similar to the same articles you would
    read online, though usually without images. Unlike some other offline wikipedia clients, YoWiki displays the
    articles with the mobile formatting, so each article look perfect on your screen.

    <h3>Inter-Library Linking</h3>
    When reading an article on Wikipedia you may select links that are within the article to learn more about topics
    presented in the article you are reading. These links will take you to other Wikipedia pages. When you click a link
    in YoWiki the app will check if you have the article for that link in your local library and pull it up if you do.
    You can also chose to have YoWiki try to automatically download the article of the link you click and add it to your
    library. This feature allows you to seamlessly dive deeper into any subject.
  </div>
</div>
<router-outlet></router-outlet>